@page "/statistics"

<AuthorizeView>
<Authorized>
<AuthorizeView Roles="Teacher, Admin">
<Authorized Context="a">
    <div class="trans-header statistics">
        <a class="btn-secondary" href="/dashboard"><i class="fa-solid fa-chevron-left"></i> Ga terug</a>
        <h1>Statistieken</h1>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item general-tab">
            <a class="nav-link active" aria-current="page" href="/statistics">Algemeen</a>
        </li>
        <li class="nav-item student-tab">
            <a class="nav-link" href="/statistics-student">Student Gegevens</a>
        </li>
        <li class="nav-item teacher-tab">
            <a class="nav-link" href="statistics-teacher">Leraren Dasboard</a>
        </li>
    </ul>

    <div class="container statistics-container">
        <div class="row">
            <div class="col col-lg-3 filter-container">

                <div class="filter-header">
                    <h3>Filters</h3>
                </div>
                <i class="fa-solid fa-eraser"></i>

                <div class="input-group">
                    <input type="text" class="input-primary general-filter" placeholder="Onderwerp" />
                    <input type="text" class="input-primary general-filter"placeholder="Klas" />
                    <input type="text" class="input-primary general-filter" placeholder="Vanaf" />
                    <input type="text" class="input-primary general-filter"placeholder="Tot" />
                </div>
                
                 <button class="btn-primary filter-button">Filter</button>
            </div>

            <div class="col-md-auto">
            </div>

            <div class="col">
                <div class="wrapper global-diagram">

                </div>
            </div>
        </div>
    </div>
</Authorized>
<NotAuthorized Context="a">
<CNotAuthorized />
</NotAuthorized>
</AuthorizeView>
</Authorized>
<NotAuthorized>
<CRedirect URI="login" />
</NotAuthorized>
</AuthorizeView>