@page "/statistics-student"

<AuthorizeView>
<Authorized>
<AuthorizeView Roles="Teacher, Admin">
<Authorized Context="a">
    <div class="trans-header statistics">
        <a class="btn-secondary" href="/dashboard"><i class="fa-solid fa-chevron-left"></i> Ga terug</a>
        <h1>Statistieken</h1>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item general-tab">
            <a class="nav-link" aria-current="page" href="/statistics">Algemeen</a>
        </li>
        <li class="nav-item student-tab">
            <a class="nav-link active" aria-current="page" href="/statistics-student">Student Gegevens</a>
        </li>
        <li class="nav-item teacher-tab">
            <a class="nav-link" href="statistics-teacher">Leraren Dasboard</a>
        </li>
    </ul>

    <div class="container statistics-container">
        <div class="row">
            <div class="col col-lg-3 filter-container">

                <div class="filter-header">
                    <h3>Selecteer student</h3>
                </div>

                <div class="input-group">
                    <input type="text" class="input-primary student-filter" placeholder="Klas" />
                    <select class="student-select dropdown-primary" aria-label="Student">
                        @* Here we'll do a foreach to get every student from that class in the dropdown
                            For now it's dummy data *@
                        <option disabled selected>Student</option>
                        <option>Cyn</option>        
                        <option>Nick</option>        
                        <option>Rick</option>        
                        <option>Emanuel</option>        
                        <option>Jochem</option>        
                        <option>Berkay</option>        
                        <option>Carlo</option>        
                        <option>Carola</option>        
                    </select>
                </div>
            </div>

            <div class="col-md-auto">
            </div>

            <div class="col">
                <div class="wrapper global-diagram">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-3 coin-container">

                <div class="filter-header">
                    <h3>Verzamelde punten</h3>
                </div>
                
            </div>

            <div class="col-md-auto">
            </div>

            <div class="col student-edit-container">
                <div class="wrapper student-edit">
                    <h3>Gegevens aanpassen</h3>
                </div>
            </div>
        </div>
    </div>
</Authorized>
<NotAuthorized Context="a">
<CNotAuthorized />
</NotAuthorized>
</AuthorizeView>
</Authorized>
<NotAuthorized>
<CRedirect URI="login" />
</NotAuthorized>
</AuthorizeView>
