
<h3>Change Password:</h3>

<EditForm EditContext="editContext" OnValidSubmit="@ChangePasswordAsync">
    <div class="input-group register">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="register-password">
            <i class="fa-solid fa-lock"></i>
            <InputText class="input-primary" type="password" placeholder="Nieuw wachtwoord" @bind-Value="changePasswordForm.Password" />
        </div>
        <div class="register-password-confirm">
            <i class="fa-solid fa-lock"></i>
            <InputText class="input-primary" type="password" placeholder="Nieuw wachtwoord bevestigen" @bind-Value="changePasswordForm.ConfirmPassword" />
        </div>
    </div>

    <div class="footer-text register">
        <button type="submit" class="btn-primary">Aanpassen</button>
    </div>
</EditForm>
